.Chips {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

.Chips-block button {
    margin-bottom: 1rem;
}

.Chips-link {
    color: red;
    text-decoration: none;
}

.Chips-link:hover {
    opacity: 0.75;
    text-decoration: underline;
}